@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate';

@import 'base/variables';
@import 'base/main-classes';

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
} 

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/slider-block';
@import 'blocks/more-text';
@import 'blocks/sale';
@import 'blocks/pizza';
@import 'blocks/advantages';
@import 'blocks/subscription';
@import 'blocks/footer';

